/* nunito-regular - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'),
       url('./fonts/nunito-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/nunito-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-italic - latin */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 400;
  src: local('Nunito Italic'), local('Nunito-Italic'),
       url('./fonts/nunito-v12-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/nunito-v12-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-700 - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: local('Nunito Bold'), local('Nunito-Bold'),
       url('./fonts/nunito-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/nunito-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/*
-------------------------Basics */

* {
    box-sizing: border-box;
}
*::selection {
    background: rgb(33, 151, 212);
    color: white;
}


body {
    margin: 0;
    font-size: 16px;
    font-family: Nunito;
    line-height: 26px;
    margin: 0;
    background: white;
    color: #333;
}

a {
    color: rgb(33, 151, 212);
    text-decoration: underline;
    text-decoration-color: #E7E7E7;
    text-decoration-thickness: 2px;
}
a:hover {
    text-decoration-color: #D7D7D7;
}

pre {
    max-width: 100%;
    overflow: auto;
    padding: 5px;
    border: 1px dotted #E9E9E9;
    background: #FFFECC;
}
code {
    font-family: Monospace, Courier;
    font-size: 14px;
    background: #F1F1F1;
    padding: 2px;
}
pre code {
    padding: 0;
    background: transparent;
}
pre::selection, code::selection {
    background: green;
}

form {}
    form div {
        display: block;
        width: 100%;
    }
    form textarea {
        width: 100%;
        font-size: 14px;
        padding: 5px;
        background: #F7F7F7;
        border: 1px dotted #E9E9E9;
        font-family: Monospace, Courier;
        outline: none;
        height: 300px;
    }
    form textarea:focus {
        border: 1px dotted #333;
    }
    form input {
        padding: 5px 10px;
        background: #F7F7F7;
        border: 1px dotted #E9E9E9;
        font-size: 14px;
    }
    form input[type="text"], form input[type="password"] {
        width: 100%;
    }
    form button {
        font-size: 16px;
        background: rgb(33, 151, 212);
        cursor: pointer;
        color: white;
        border-radius: 2px;
        padding: 8px;
        border: none;
    }


/*
-------------------------Classes */
.left {
    float: left;
}
.right {
    float: right;
}

.half {
    width: 48%;
}
.third {
    width: 32%;
}

.clear {
    float: left;
    width: 100%;
    height: 0;
    clear: both;
}

.message {
    padding: 10px;
    background: #F7F7F7;
    border: 1px solid #D7D7D7;
    margin: 10px 0 5px 0;
    border-radius: 2px;
}


/*
-------------------------Layout */
div#wrap {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}

header, section, footer {
    float: left;
    width: 100%;
}
header {
    margin-top: 15px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    border-bottom: 1px dotted #E9E9E9;
}
    header a, header a:hover {
        text-decoration: none;
    }
    header h2 {
        float: left;
        padding: 0 10px 0 0;
    }
        header h2 a {
            color: #1A1B1B;
            padding: 2px 0 5px 40px;
            background: url('./logo.png') no-repeat;
            background-size: 32px 32px;
        }
    header nav {
        margin: 18px 0 0 170px;
    }
    nav ul {
        padding: 0;
        margin: 0;
    }
        nav ul a:hover {
            color: #1A1B1B;
        }
        nav > ul > li {
            list-style: none;
            float: left;
            padding: 5px;
        }
            nav > ul > li > a {
                float: left;
            }
            nav ul li ul {
                display: none;
                position: absolute;
                margin-top: 25px;
                background: #F7F7F7;
                border: 1px solid #D7D7D7;
                padding: 10px;
                margin-left: -10px;
                min-width: 100px;
                border-radius: 4px;
            }
            nav ul li:hover ul {
                display: block;
            }
                nav ul li ul li {
                    list-style: none;
                }
                    nav ul li ul li a {
                        float: left;
                        width: 100%;
                    }

nav#breadcrumb {
    border-bottom: 1px dotted #E9E9E9;
    font-size: 12px;
    margin-bottom: 10px;
}
    nav#breadcrumb a {
        text-decoration: none;
    }
    nav#breadcrumb a:hover {
        color: #1A1B1B;
    }

    nav span a {
        color: #A7A7A7;
        cursor: pointer;
    }
    nav span a:after {
        content: ' · ';
    }
    nav span a:last-child:after {
        content: '';
    }

    nav span a.active {
        color: rgb(33, 151, 212);
    }

    nav span#links {
        float: right;
    }

section > * {
    margin-right: 0px;
}
    section h1 {
        float: none;
        margin: 15px 0;
        font-size: 20px;
    }
    section ul.meta {
        display: none;
        float: right;
        margin: 15px 0px 20px 0px;
        padding: 0;
        font-size: 14px;
        text-align: right;
    }
        section ul.meta li {
            list-style: none;
        }
    section h2 {
        margin: 40px 0 30px 0;
    }
    section h3 {
        margin: 50px 0 10px 0;
    }
    section h4 {
        margin-top: 40px;
    }

section#page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
section#page > h1 {
    width: 100%;
}
div#sidebar {
    width: 18%;
}
div#sidebar ul {
    padding-left: 15px;
    margin-top: 0;
}
div#content {
    width: 100%;
}
div#content.sidebar {
    width: 80%;
}

footer {
    border-top: 1px dotted #E9E9E9;
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 14px;
    color: #A7A7A7;
}
    footer span.right {
        text-align: right;
    }
    footer a {
        color: #888;
        text-decoration: none;
    }
    footer a:hover {
        color: #333;
    }


div#filesheader, div#commentsheader, div.commentform {
    display: none;
}
ul.toolbar {
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
}
    ul.toolbar li {
        list-style: none;
        float: left;
    }

div.home {
    font-size: 18px;
}

div.home ul {
    padding: 0;
    margin-top: 5px;
}
    div.home ul li {
        list-style: none;
    }


/*
    Responsive */

@media (max-width: 450px) {
    header h2 {
        float: none;
    }
    header nav {
        margin: 0;
    }

    .third {
        width: 100%;
    }

    div#sidebar, div#content.sidebar {
        width: 100%;
    }
}
